* {
    margin: 0;
    padding: 0;
}

.container::after {
    content: '';
    clear: both;
    display: table;
}

button {
    display: block;
    margin: 0 auto;
    margin-top: 30vh;
    padding: 50px;
    background-color: none;
    outline: none;
    cursor: pointer;
}